In [1]:
import pandas as pd
weekly=pd.read_csv('full_weekly_data.csv')
monthly=pd.read_csv('full_monthly.csv')

In [2]:
weekly.head()

,week,cough_medicine,flu_clinic,flu_shot,flu_vaccine,flu,influenza,oseltamivir,relenza,tamiflu,zanamivir,flu_symptoms
0,10/3/10,36,51,48,29,18,35,0,0,8,0,6
1,10/10/10,36,70,27,36,21,29,0,0,8,0,6
2,10/17/10,53,34,43,21,17,14,0,0,0,0,10
3,10/24/10,35,0,30,42,15,14,88,0,0,0,6
4,10/31/10,0,33,21,41,15,28,0,0,8,0,11

In [3]:
monthly.head()

,month,cough_medicine,flu_clinic,flu_shot,flu_vaccine,flu,influenza,oseltamivir,relenza,tamiflu,zanamivir,flu_symptoms
0,2010-10,49,89,60,52,17,24,18,0,2,0,6
1,2010-11,18,0,35,19,13,16,0,0,2,0,10
2,2010-12,43,0,14,22,10,15,0,0,1,0,8
3,2011-01,51,12,10,17,11,20,0,0,4,0,14
4,2011-02,37,13,4,7,10,8,0,0,6,0,11

In [4]:
date=pd.DataFrame()
date[['month','day','year']]=weekly['week'].str.split('/',expand=True)
date['year']=date['year'].apply(lambda x: '20' +x)
date['month']=date['month'].apply(lambda x: x if len(x)==2 else '0'+x)
weekly['month']=date['year']+'-'+date['month']

In [5]:
merged=weekly.merge(monthly,on=['month'])
final=pd.DataFrame()
#final['week_number']=(final.index+40)%52
#final.loc[169,'week_number']=53
#final.loc[170:,'week_number']=(final.loc[170:,'week_number']-1)%52
#final['week_number']=final['week_number'].replace(to_replace=0,value=52)
means=merged.groupby('month').mean()
merged=merged.merge(means,on=['month'])
for col in weekly.columns:
    if col != 'week' and col != 'month':
        final[col]=weekly[col]*merged[col+'_y_y']/(merged[col+'_x_y'].apply(lambda x: max(x,1)))
        final[col]=final[col].replace(to_replace=0,value=merged[col+'_y_y'])   
final.to_csv('google_data_cleaned.csv',index=False)